# =========================
# Secrets
# =========================
secrets.h
secrets.local.h
*.secrets.h
.env

# =========================
# Arduino build files
# =========================
*.elf
*.bin
*.hex
*.map
*.eep
*.obj

# Arduino temporary / cache
*.tmp
*.bak
*.old
*.orig

# =========================
# Arduino IDE folders
# =========================
build/
dist/
*.ino.cpp
*.ino.cpp.d

# =========================
# ESP32 / PlatformIO
# =========================
.pio/
.pioenvs/
.piolibdeps/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Misc
# =========================
*.swp
*.lock
